{:paths ["src"]
 :deps {de.zalf.berest/berest-core {:local/root "../berest-core"}
        compojure/compojure {:mvn/version "1.6.3"}
        hoplon/castra {:mvn/version "3.0.0-alpha7"}
        ring-server/ring-server {:mvn/version "0.5.0"}
        jumblerg/ring-cors {:mvn/version "2.0.0"}
        simple-time/simple-time {:mvn/version "0.2.1"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}}
                   :ns-default build}}}